<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <title>{{ docTitle }}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>This site was created by Marc-André Garneau. It uses data from Mapbox.com and Darksky.net!</p>
    
        <img src="/img/thai-beach-qu-2560x1440.jpg" alt="Landscape">
    </div>

    {{>footer}}
</body>
</html>